<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>About</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="./home.ejs">Home</a></li>
            <li><a href="#about" id="about">About</a></li>
            <li><a href="./contact.ejs">Contact</a></li>
        </ul>
    </nav>


    <div class="content">
        <div class="image__container">
            <img src="https://images.pexels.com/photos/13801593/pexels-photo-13801593.jpeg?auto=compress&cs=tinysrgb&w=600" alt="about-img">
        </div>
        <div class="about__content">
            <h1>About me</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi nihil dolores perspiciatis rem autem! Corporis iure, dolores in sapiente perspiciatis ullam est illo fugiat magni earum eum non quam laborum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi repellendus consequuntur molestiae temporibus unde enim eos accusamus, tenetur ut. Repellat.</p>
        </div>
    </div>
</body>
</html>