<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fontsAwesome -->
    <script src="https://kit.fontawesome.com/94da306be0.js" crossorigin="anonymous"></script>
    <!-- stylesheet -->
    <link rel="stylesheet" href="/app.css">
    <title>Contact</title>
</head>
<body>
    <!-- Navbar -->
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="./about.ejs">About</a></li>
            <li><a href="./contact.ejs">Contact</a></li>
        </ul>
    </nav>
<!-- Content -->
<div class="main-container">
    <h1>Contact Me</h1>
    <div class="socials">
        <a href="http://www.facebook.com" target='_blank'><i class="fa-brands fa-facebook"></i></a>
        <a href="http://www.twitter.com" target='_blank'><i class="fa-brands fa-twitter"></i></a>
        <a href="http://www.instagram.com" target='_blank'><i class="fa-brands fa-instagram"></i></a>
        <a href="http://www.linkedin.com" target='_blank'><i class="fa-brands fa-linkedin"></i></a>
    </div>
</div>
    

</body>
</html>