<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>HomePage</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="./about.ejs">About</a></li>
            <li><a href="./contact.ejs">Contact</a></li>
        </ul>
    </nav>
    <section class="main">
        <div class="container">
            <img src="https://images.pexels.com/photos/13801653/pexels-photo-13801653.jpeg?auto=compress&cs=tinysrgb&w=400" alt="me">
        </div>
    </section>
</body>
</html>